.add-offer {
  margin: 12px;
}

.offers-table {
  table-layout: fixed;
  & th:nth-child(1) {
    width: 40px;
  }
  & th, td {
    min-width: 120px;
  }
  & input, button {
   margin: 2px;
  }
}

$primary-color: #007bff;
@import '~loaders.css/src/animations/ball-rotate.scss';
.loader-wrapper {
  position: absolute;
  left: 45%;
  top: 50%;
  .loader-hidden {
    display: none;
  }
  .loader-active {
    display: block;
  }
}
