<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'all' %>
    <%= javascript_pack_tag 'offers' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
